<strong><h1>MongoDB<br></h1>
For using MongoDB, please share your ip address with me first so I can add you to the access list. It is better if it's your home ip so it will not change too much. You can check you ip address at https://ipinfo.io/what-is-my-ip.<br>
Also, please download the python lib for mongoDB using "pip install pymongo"
</strong>

In [3]:
import pymongo
import sys
import json

uri = "mongodb+srv://admin:Auliter1234@qf5214.pkeghuv.mongodb.net/?retryWrites=true&w=majority&appName=QF5214"
try:
  client = pymongo.MongoClient(uri)
  
except pymongo.errors.ConfigurationError:
  print("An Invalid URI host error was received. Is your Atlas host name correct in your connection string?")
  sys.exit(1)

In [4]:
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

<strong>The above code will create a client. The default user is admin so you have full access to the database. If the print out from second cell is successfully connected to MongoDB then it's all good. Else please record the error message and send to me.</strong>

In [16]:
db = client.myDatabase
my_collection = db["person"]
x =  '{ "name":"John", "age":30, "city":"New York"}'
x = json.loads(x)

<strong>We will connect to database called "myDatabase", if it does not exist yet, it will be created. In the database, the collection called "recipes" will be chosen. x is a temporary json entry created for testing. The json.loads function is to convert x to dictionary type because the mongoDB api will not accept raw string input.</strong>

In [17]:
try: 
    result = my_collection.insert_one(x).inserted_id
    print(result)
except:
    print("Insertion failed")

6600f31ab9c44e7d7c99df70

<strong>This is an example for inserting one data into the collection. The variable "result" will store the value of insert id</strong>

In [18]:
recipe_documents = [{ "name": "elotes", "ingredients": ["corn", "mayonnaise", "cotija cheese", "sour cream", "lime"], "prep_time": 35 },
                    { "name": "loco moco", "ingredients": ["ground beef", "butter", "onion", "egg", "bread bun", "mushrooms"], "prep_time": 54 },
                    { "name": "patatas bravas", "ingredients": ["potato", "tomato", "olive oil", "onion", "garlic", "paprika"], "prep_time": 80 },
                    { "name": "fried rice", "ingredients": ["rice", "soy sauce", "egg", "onion", "pea", "carrot", "sesame oil"], "prep_time": 40 }]

try: 
 result = my_collection.insert_many(recipe_documents)

# return a friendly error if the operation fails
except pymongo.errors.OperationFailure:
  print("An authentication error was received. Are you sure your database user is authorized to perform write operations?")
  sys.exit(1)
else:
  inserted_count = len(result.inserted_ids)
  print("I inserted %x documents." %(inserted_count))

I inserted 4 documents.

<strong>The above is an example for inserting multiple records into the collection.</strong>

In [19]:
my_doc = my_collection.find_one({"ingredients": "potato"})
if my_doc is not None:
  print("A recipe which uses potato:")
  print(my_doc)
else:
  print("I didn't find any recipes that contain 'potato' as an ingredient.")
print("\n")

A recipe which uses potato:
{'_id': ObjectId('6600f345b9c44e7d7c99df73'), 'name': 'patatas bravas', 'ingredients': ['potato', 'tomato', 'olive oil', 'onion', 'garlic', 'paprika'], 'prep_time': 80}

<strong>The above is an example for retrieving data from the database</strong>

In [20]:
my_doc = my_collection.find_one_and_update({"ingredients": "potato"}, {"$set": { "prep_time": 72 }}, new=True)
if my_doc is not None:
  print("Here's the updated recipe:")
  print(my_doc)
else:
  print("I didn't find any recipes that contain 'potato' as an ingredient.")
print("\n")

Here's the updated recipe:
{'_id': ObjectId('6600f345b9c44e7d7c99df73'), 'name': 'patatas bravas', 'ingredients': ['potato', 'tomato', 'olive oil', 'onion', 'garlic', 'paprika'], 'prep_time': 72}

<strong>The above is an example for updating data for the database</strong>

In [21]:
my_result = my_collection.delete_many({ "$or": [{ "name": "elotes" }, { "name": "fried rice" }]})
print("I deleted %x records." %(my_result.deleted_count))
print("\n")

I deleted 2 records.

<strong>The above is an example for deleting data for the database</strong>

<strong><H1>MySQL</H1> <br>
Before connecting, please install mysql lib for python using "pip install MySQL-connector-python".
</strong>

In [23]:
import mysql.connector as cnt
cnx = cnt.connect(user='testUser',password='123456',host='47.250.52.110',database='testBase')
mycursor = cnx.cursor()

<strong>The above is for initializing and connect to the database called "testBase", if there is no error print it means connection successfully</strong>

In [25]:
sql = "INSERT INTO testTable (PersonID, LastName) VALUES (%s,%s)"
val = ("18", "YYH")
mycursor.execute(sql,val)
cnx.commit()
print(mycursor.rowcount, "record inserted.")

1 record inserted.

<strong>The above is for inserting a single record into the table "testTable", for executing sql command, you need to call the execute and commit commands</strong>

In [28]:
mycursor.execute("SELECT * FROM testTable")
results = mycursor.fetchall()
for result in results:
    print(result)

(18, 'YYH')
(18, 'YYH')
(18, 'YYH')
(18, 'YYH')

<strong>The above command is for retrieving every record from "testTable".</strong>

In [29]:
sql = "DELETE FROM testTable WHERE PersonID = '18'"
mycursor.execute(sql)

mycursor.execute("SELECT * FROM testTable")
results = mycursor.fetchall()
for result in results:
    print(result)

<strong>The above command is deleting record with an ID of 18.Because right now all records have ID of 18 so all records will be deleted.<br>
This deletion is proven as if we run the select query again we can see that there is no record in the database anymore.</strong>